/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 24, 2015, 1:29:47 PM
    Author     : acer
*/

.emails{
    background: -moz-linear-gradient(#193742, #c3cebc);
    background:-webkit-linear-gradient(#193742, #c3cebc);
    background:-ms-linear-gradient(#193742, #c3cebc);
    background:-o-linear-gradient(#193742, #c3cebc);

	padding: 5px 15px;
	border: 1px solid white;
	border-radius:2px;
	color:white;
	text-decoration: none;
}

.emails:hover{

	/*background:green;*/
	background:#ff9933;
	/*background:#193742;*/

}

.sv{

	background:#193742;
	text-decoration: none;
    padding: 10px 20px;
	border-radius: 4px;
    font-size: 13px;
    font-family: serif;
	font-color:white;

}
.sv:hover{
	background:#ff9933;
}

.salvar, .button, .cancelar{

    border-radius: 4px;
    font-size: 14px;
    font-family: serif;
    color:green ;

    background: -moz-linear-gradient(#365775, white, #ccc, #365775);
    background:-webkit-linear-gradient(#365775, white, #ccc, #365775);
    background:-ms-linear-gradient(#365775, white, #ccc, #365775);
    background:-o-linear-gradient(#365775, white, #ccc, #365775);

    text-decoration: none;
   


}

.salvar:hover, .button:hover, .cancelar:hover{

    background: -moz-linear-gradient(#365775, white, #ccc, black);
    background:-webkit-linear-gradient(#365775, white, #ccc, black);
    background:-ms-linear-gradient(#365775, white, #ccc, black);
    background:-o-linear-gradient(#365775, white, #ccc, black);
	 color:red ;

    text-decoration: none;
   

}

#div-bar th{
    padding: .6em;
}
.sv_associar{

    border-radius: 5px;
    font-size: 12px;
    font-family: serif;

    border: 1px solid white;

    background: -moz-linear-gradient(#ff9933, black);
    background:-webkit-linear-gradient(#ff9933, black);
    background:-ms-linear-gradient(#ff9933, black);
    background:-o-linear-gradient(#ff9933, black);
    color:white;
    width: 12em;
    padding: 3px 10px;
}

.sv_associar:hover{

    border-radius: 5px;
    font-size: 12px;
    font-family: serif;

    border: 1px solid white;

    background: -moz-linear-gradient(white, #ff9933);
    background:-webkit-linear-gradient(white, #ff9933);
    background:-ms-linear-gradient(white, #ff9933);
    background:-o-linear-gradient(white, #ff9933);
    color:blue;
    font-weight: bold;
    width: 12em;
    padding: 3px 10px;


}


/*-----------------CSS para ul do autocomplete ----------------------*/

.myvar ul {

    border: 1px solid #eaeaea;

    list-style: none;
}

.myvar ul li {
    padding: 2px;}



.myvar ul li:hover {

    padding: 2px;
    color: red;
    font-weight:bold;

}

.myvarX ul li:hover {
    background: -moz-linear-gradient(white, #c3cebc, white);
    background:-webkit-linear-gradient(white, #c3cebc, white);
    background:-ms-linear-gradient(white, #c3cebc, white);
    background:-o-linear-gradient(white, #c3cebc, white);
    color:blue;

}

.myvarX ul {
  box-shadow: 1px 2px 20px 2px #aaa;
}

.myvarX ul li{
    color: black;
    font-weight: bold;
}

.mydiv ul li:hover {
    padding: 5px;
    color: blue;
    font-weight: bold;

    background: -moz-linear-gradient(#365775, white);
    background:-webkit-linear-gradient(#365775, white);
    background:-ms-linear-gradient(#365775, white);
    background:-o-linear-gradient(#365775, white);

}

.mydiv ul li{
    margin-left: 0.1em;
}

.mydiv li{
    padding: 5px;;
}


#resultado {
    display: none;

        background:-ms-linear-gradient(white , #ccc ,white);
        background:-o-linear-gradient(white , #ccc ,white);
        background: -moz-linear-gradient(white , #ccc ,white);
        background:-webkit-linear-gradient(white ,#ccc, white);
        font-family: serif;
        text-justify: auto;
        font-size: 14px;
        color: black;
}


